@font-face {
    font-family: "Roboto";
    src: url("Roboto/RobotoRegular/RobotoRegular.eot");
    src: url("Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    font-family: "RobotoLight";
    src: url("Roboto/RobotoRegular/RobotoLight.eot");
    src: url("Roboto/RobotoRegular/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("Roboto/RobotoRegular/RobotoLight.woff") format("woff"),
    url("Roboto/RobotoRegular/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }

body {
    background: #f69a73;
    margin: 0;
}
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
}
.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #f69a73;
    border-radius: 20px;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}
.form-img-zamena {
    height: 20px;
    margin: 0px 5px 5px 5px;
}
h5 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #707981;
    margin-bottom: 10px;
}
.change-city {
    width: 200px;
    display: flex;
    text-decoration: none;
    border: none;
}

.form-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.form-item input {
    width: 90%;
    outline: none;
}

.form-item span {
    width: 10%;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #707981;
    margin-bottom: 10px;
    margin-left: 5px;
}
.info{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.image {
    width: 39%;
    height: 300px;
    background: url(../img/car.png) no-repeat 0 0;
    display: inline-block;
    margin: 0 auto;
    background-position: center; 
}

.text {
    display: inline-block;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    color: #707981;
}

.goform {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #f69a73;
    border-radius: 4px;
}

.goform:hover {
  box-shadow: 0 0 5px black;
  background: linear-gradient(to top, #f69a73, #f69a73);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #f69a73;
}